<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /


	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^([^\.]+)$ $1.php [NC,L]
	ErrorDocument 404 /missing.php?error=404
	ErrorDocument 403 /missing.php?error=403
	Redirect 404 /404
	Redirect 403 /403
	RewriteCond %{ENV:REDIRECT_STATUS} !=404
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule .* /404 [L]
	
</IfModule>

# Protect todo.md
<Files ./todo.md>
Order Allow,Deny
Deny from all
</Files>


<IfModule mod_pagespeed.c>
	ModPagespeed Off
</IfModule>