body {
  background-color: #3c3c3c;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px blue;
}

h2 {
  color: white;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

footer {
  background-color: #3c3c3c;
  color: white;
  text-align: left;
}
